<nav class="navbar navbar-default" role="navigation">
<div class="container">
  <a class="navbar-brand" href="#">Pinterested</a>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="nav navbar-nav navbar-right ">
    <li><%= link_to 'Home', root_path %></li>
    <li> <%= link_to 'About Us', home_about_path %></li>
    <li> <%= link_to 'login', new_user_session_path %></li>
    <li><%= link_to 'join' , new_user_registration_path %> </li>
    </div>
  </div>
  </div>
</nav>