<div class="jumbotron center">
<h1> Welcome to my printerested! </h1>
<p> Pretty cool, don't you thinks? </p>
<%= link_to 'login', new_user_session_path, class: 'btn btn-default' %>
<%= link_to 'join' , new_user_registration_path , class:'btn btn-primary'%> 


</div>